name: A-TO-B:MASTER
on: [push]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Build and Deploy
      uses: jenkey2011/vuepress-deploy@v1.8.1
      env:
        ACCESS_TOKEN: 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
        TARGET_REPO: bulaya/bulaya.github.io
        TARGET_BRANCH: master
        BUILD_SCRIPT: pnpm && pnpm docs:build
        BUILD_DIR: src/.vuepress/dist/